<label>Figures: </label>

<% Figure.all.each do |figure| %>
  <p>
    <% binding.pry %>
    Name: <%= @figure.name %><br><br>
    Title(s):
    <% @figure.titles.each do |title| %>
      <% binding.pry %>
      <br>- <%= title.name %>
    <% end %>
  </p><br><br>
<% end %>
