<label>Figure: </label>
<p>
  <% binding.pry %>
  
  Name: <%= @figure.name %><br><br><br>
  Title(s):
  <% @figure.titles.each do |title| %>
    <br>- <%= title.name %>
  <% end %>
  <br><br><br>
  Landmark(s):
  <% @figure.landmarks.each do |landmark| %>
    <br>- <%= landmark.name %>
  <% end %>
</p>
