<%= params %>

<label>Figure: </label>
<p>
  Name: <%= @figure.name %>
  Title(s):
  <% binding.pry %>
    <%= @figure.titles.each do |title| %>
    <% binding.pry %>
      <%= name %>
    <% end %>
</p>
