<label>Figure: </label>
<p>
  Name: <%= @figure.name %><br><br><br>
  Title(s):
  <% @figure.titles.each do |title| %>
    <br>- <%= title.name %>
  <% end %>
</p>
  <input type="submit" value="Edit Figure">
